body{
    background-color: #131316;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.topques{
    display: grid;
    text-align: center;
    flex-wrap: wrap;
    min-height: 10vh;
    font-size: 4vh;
}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73vh;
    height: 65vh;
    border-radius: 20px;
}

.actions{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: visible;
}

.buttons{
    font-size: 4vh;
    height: 10vh;
    width: 25vh;
    border-radius: 20px;
    margin-top: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
}